* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-size: 16px;
  --b1: #5a56bf;
  --b2: #a2a6f2;
  --b3: #c4c7f2;
  --b4: #f5ea8e;
  --b5: #f7bcb8;
  --b6: #fcfcfc;
}
body {
  background-color: var(--b6);
  font-family: "Montserrat", sans-serif;
}
.menu_container,
ul,
a {
  list-style: none;
}
/*nav */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  background-color: var(--b2);
  overflow: hidden;
  z-index: 3;
  margin: 0;
  padding: 0;
}
.navigation .navContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: 0 32px;
  overflow: hidden;
}

.navigation .navContainer li {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  margin: 8px;
  overflow: hidden;
}
.hamb-menu {
  display: none;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  margin: 0 32px;
}
.logoContainer a {
  display: flex;
  font-size: 24px;
  color: var(--b4);
  justify-content: space-around;
  align-items: center;
  margin: 0 16px;
}
.logoContainer p {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--b4);
  margin: 0 16px;
}
.buscador {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 4px 0px;
  margin: 0;
  width: 150vh;
}

.buscador .filterbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  width: 36px;
  background-color: var(--b1);
  color: WHITE;
  font-size: 14px;
  border-radius: 10px 0 0 10px;
}
.buscador .searchbtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  width: 36px;
  background-color: var(--b1);
  color: white;
  font-size: 14px;
  border-radius: 0 10px 10px 0;
}
.buscador .iconContainer i {
  margin: 8px;
}
.buscador .searchButton {
  width: 300%;
  border: none;
  height: 36px;
  padding: 16px;
  font-size: 14px;
}

.navigation .navContainer .userContainer {
  display: flex;
  width: 100%;
  margin: 0 1em;
  justify-content: space-around;
  font-size: 16px;
  align-items: center;
  align-content: center;
  padding: 0;
}
.navigation .navContainer .userContainer .menu_container {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation .navContainer .userContainer .menu_container .userItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navigation .navContainer .userContainer .menu_container .userItem a {
  color: black;
  margin: 0px 12px;
  text-decoration: none;
  font-size: 16px;
}
.navigation .navContainer .userContainer .menu_container .userItem:hover {
  color: black;
  opacity: 0.6;
  border-radius: 25px;
  background-color: var(--b4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.buscador .searchButton {
  width: 90%;
}

/* caorusel */
.carousel-item {
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

/*footer */
.inf-Footer {
  margin: 32px 0px 0px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 8%,
    rgba(89, 44, 144, 1) 50%,
    rgba(45, 22, 92, 1) 92%
  );
  display: grid;
  max-width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  overflow: hidden;
}

.containerCard {
  display: grid;
  width: 50%;
  justify-content: space-around;
  margin: 32px 0px 32px 8rem;
}
.containerCard .infContainer {
  color: white;
}

.containerCard .netContainer .list-footer {
  color: white;
  display: grid;
  align-content: center;
  grid-template-columns: 50% 50%;
  column-gap: 32px;
  grid-template-rows: 100px;
  font-size: 24px;
}
.containerrow {
  margin: 32 0 0 184px;
}
.container {
  margin: 0px 0px 0px 25%;
  padding: 0;
  width: 70%;
  left: 30%;
}
.containerMain {
  margin: 32px 0 0 64px;
  padding: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  margin: 32px;
}
.card:hover {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  width: 275px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  transform: translateY(-10px);
}
.card img {
  margin: 0px 0px 4px 4px;
  max-width: 100%;
  border-radius: 10%;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.btn-dark {
  color: white;
  background-color: var(--b1);
  border: none;
}
.btn-dark:hover {
  color: black;
  background-color: var(--b4);
  border: none;
}
/*Carrito de comprasretractil*/

.tableContainer {
  position: fixed;
  left: 60%;
  margin: 0px;
  background: var(--b6);
  width: 40%;
  height: vh;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.4s;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 3;
  padding: 0;
  top: 8vh;
}

.table_visible {
  left: 100%;
}

#btn-more {
  background-color: var(--b4);
}
#btn-less,
#emptyCart {
  background-color: var(--b5);
}

/*Estilos del forumlario */
.containerForm {
  display: flex;
  flex-direction: row;

  width: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 32px;
  margin: 0 auto;
}
.containerForm a {
  color: black;
  text-decoration: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
  height: 60vh;
  margin: 0;
  padding: 64px;
  margin: 32px;
  border-radius: 10px;
  background-color: #b7b7e4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.containerItem {
  width: 100%;
}

.Itemform {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  background-color: #faf5ca;
  width: 100%;
  height: 50px;
  border: none;
  margin: 16px;
  border-radius: 10px;
  padding: 8px;
}

.btn-submit {
  background-color: var(--b2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);

  width: 100%;
  height: 50px;
  border: none;
  margin: 16px;
  border-radius: 10px;
}
.btn-submit:hover {
  background-color: var(--b2);

  width: 100%;
  height: 50px;
  border: none;
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.btn-registerOther {
  display: flex;
  background-color: var(--b2);
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 0.5vh;
  border: none;
  margin: 16px;
  border-radius: 10px;
  flex-direction: row;
  padding: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.btn-registerOther:hover {
  display: flex;
  background-color: var(--b2);
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 0.5vh;
  border: none;
  margin: 16px;
  border-radius: 10px;
  flex-direction: row;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.btn-registerOther p {
  display: flex;

  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;

  margin: 0px;

  padding: 24px;
}

.title-form {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  margin: 32px 16px 16px 16px;
}
.contact-name {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media querys*/

@media (max-width: 1200px) {
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 0px 0px;
    margin: 0em;
    width: 40vh;
  }

  .navigation .navContainer .userContainer {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .navigation {
    display: flex;
    flex-direction: row;

    background-color: var(--b2);
    overflow: hidden;
  }

  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    padding: 0px 0px;
    margin: 0em;
    width: 40vh;
  }
  .logoContainer {
    margin: 0px 8px 0 0px;
  }
  .logoContainer p {
    margin: 12px 0px 12px 16px;
  }
  .logoContainer a {
    display: flex;
    font-size: 24px;
    color: var(--b4);
    justify-content: space-around;
    margin: 16px 0px 16px 32px;
  }

  .navigation .navContainer .userContainer {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
  }
  .navigation .navContainer .userContainer .menu_container {
    padding: 0;
  }
  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
    margin: 0;
    top: 0;
  }

  .buscador {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em;
  }

  .logoContainer p {
    margin-top: 16px;
  }
  .logoContainer a {
    display: flex;
    font-size: 32px;
    color: var(--b4);
    justify-content: space-around;
    margin: 16px 0px 16px 32px;
  }
  .logoContainer a {
    display: fixed;
    z-index: 3;
    bottom: 0;
  }

  .navigation .navContainer .userContainer {
    padding: 0 16px;

    font-size: 16px;
    z-index: 3;
  }

  .navigation .navContainer .userContainer .menu_container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b1);
    position: fixed;
    margin: 0px;
    top: 60px;
    border-bottom: solid 1px var(--b4);
    height: 100vh;
    left: 100%;
    transition: left 0.4s;
    align-content: flex-end;
    align-items: flex-end;
  }

  .navigation .navContainer .userContainer .menu_container .userItem {
    display: flex;
    width: 95%;
    padding: 12px;
    margin: 12px 16px 0px 12px;
    height: 10%;
    border-radius: 25px;
    background-color: var(--b2);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    align-content: flex-end;
    align-items: center;
  }

  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 24px;
  }

  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
  }

  .hamb-menu {
    font-size: 32px;
    border: none;
    background: transparent;
    display: block;
    margin: 14px 16px 24px 30vh;
  }

  .navigation .navContainer .userContainer .menu_visible {
    left: 0%;
  }
}

@media (max-width: 376px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
  }

  .buscador {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em;
  }

  .logoContainer p {
    margin-top: 16px;
  }
  .logoContainer a {
    display: flex;
    font-size: 32px;
    color: var(--b4);
    justify-content: space-around;
    margin: 16px 0px 16px 32px;
  }
  .logoContainer a {
    display: fixed;
    z-index: 3;
    bottom: 0;
  }

  .navigation .navContainer .userContainer {
    padding: 0 16px;

    font-size: 16px;
    z-index: 3;
  }
  .navigation .navContainer .userContainer .menu_container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b1);
    position: fixed;
    margin: 64px;
    left: 0px;
    top: 64px;
    border-bottom: solid 1px var(--b4);
    height: 95vh;
    bottom: 64px;
    left: 100%;
    transition: left 0.4s;
  }

  .navigation .navContainer .userContainer .menu_container .userItem {
    width: 90%;
    margin: 24px 16px 24px 6px;
    height: 10%;
    border-radius: 25px;
    background-color: var(--b3);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
  }

  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 24px;
  }

  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
  }

  .hamb-menu {
    font-size: 32px;
    border: none;
    background: transparent;
    display: block;
    margin: 12px 16px 16px 112px;
  }

  .navigation .navContainer .userContainer .menu_visible {
    left: 0%;
  }
}

.headerCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerTable {
  display: flex;
  justify-content: space-around;
  margin: 0 32px;
  top: 0;
}

.headerTable tr {
  margin: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.template-cartContaineritem .template-cart {
  margin: 0px;
}

.filtercontainer {
  background-color: var(--b3);
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  position: fixed;
  margin: 0;
}
.filterItems {
  display: flex;
  flex-direction: column;
  margin: 16px 16px;
  top: 0;
}
.filterItem {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.filterItem p {
  font-size: 24px;
  padding: 12px 0px;
}
.filterPrecio {
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.sliderPrecio {
  width: 100%;
}
.filterPrecio .buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px;
}

.inputPrice {
  width: 30%;
}
.chkboxContainer {
  margin: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}
